## Let's check the base API working or not.

In [2]:
import pandas as pd
import numpy as np
from urllib import request
from urllib.parse import urlencode
import io

In [7]:
def downloadData(url, query):
    opener = request.build_opener()
    opener.addheaders=[('User-Agent','Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1941.0 Safari/537.36')]
    request.install_opener(opener)
    
    query = urlencode(urlQuery).encode('utf-8')

    df = pd.DataFrame()
    with request.urlopen(url, data=query) as response:
        data = response.read()
        df = pd.read_csv(io.StringIO(data.decode('utf-8')), header=1, index_col=0)
        print('Good, Down finished!')
    return df
    
code = '000423'
url = 'http://financials.morningstar.com/ajax/ReportProcess4CSV.html'
urlQuery = {
    't': '000423',
    'reportType': 'is',
    'period': 12,
    'dataType': 'A',
    'order': 'asc',
    'columnYear': 10,
    'number': 3,
}
df = downloadData(url, urlQuery)
df.head()

Good, Down finished!

,2013-12,2014-12,2015-12,2016-12,2017-12,TTM
Fiscal year ends in December. CNY in millions except per share data.,,,,,,
Revenue,4016.0,4009.0,5450.0,6317.0,7372.0,7392.0
Cost of revenue,1467.0,1381.0,1929.0,2088.0,2577.0,2645.0
Gross profit,2550.0,2628.0,3521.0,4230.0,4795.0,4747.0
Operating expenses,NaN,NaN,NaN,NaN,NaN,NaN
"Sales, General and administrative",1174.0,1123.0,1700.0,2111.0,2383.0,2319.0

In [8]:
dfT = df.transpose()
dfT.head()

Fiscal year ends in December. CNY in millions except per share data.,Revenue,Cost of revenue,Gross profit,Operating expenses,"Sales, General and administrative",Other operating expenses,Total operating expenses,Operating income,Interest Expense,Other income (expense),...,Other,Net income,Net income available to common shareholders,Earnings per share,Basic,Diluted,Weighted average shares outstanding,Basic,Diluted,EBITDA
2013-12,4016.0,1467.0,2550.0,NaN,1174.0,45.0,1220.0,1330.0,4.0,111.0,...,-17.0,1203.0,1203.0,NaN,1.84,1.84,NaN,654.0,654.0,1497.0
2014-12,4009.0,1381.0,2628.0,NaN,1123.0,49.0,1172.0,1456.0,1.0,158.0,...,-7.0,1366.0,1366.0,NaN,2.09,2.09,NaN,654.0,NaN,1688.0
2015-12,5450.0,1929.0,3521.0,NaN,1700.0,65.0,1765.0,1756.0,3.0,174.0,...,-13.0,1625.0,1625.0,NaN,2.48,2.48,NaN,654.0,654.0,2024.0
2016-12,6317.0,2088.0,4230.0,NaN,2111.0,70.0,2180.0,2049.0,5.0,152.0,...,-3.0,1852.0,1852.0,NaN,2.83,2.83,NaN,654.0,654.0,2304.0
2017-12,7372.0,2577.0,4795.0,NaN,2383.0,92.0,2475.0,2320.0,25.0,113.0,...,0.0,2044.0,2044.0,NaN,3.13,3.13,NaN,654.0,654.0,2540.0