### Create DCF Object

In [1]:
from lib.dcf import DCF
dcf = DCF()

### Calculate Cost Of Equity

In [2]:
beta = 0.75
coe = dcf.costOfEquity(0.75)
coe

6.23

### Calculate Cost Of Debt After Tax

In [3]:
taxRate = 15
cod = dcf.costOfDebtAfterTax(15)
cod

2.55

### Calculate wacc

In [4]:
mvEquity = 34670
mvDebt = 0
wacc = dcf.wacc(34670, coe, 0, cod)
wacc

6.23

### Use Cashflow Object

In [5]:
from lib.cashflow import Cashflow
cashflow = Cashflow('000423')
cashflow.fetchData()

Read from local finish

### Calculate CashFlow Growth

In [6]:
fcf = cashflow.df['Free cash flow']
growth = dcf.calCAGR(fcf)
growth

29.38

### Predict Future Free Cashflow

In [7]:
predict = dcf.predictFCF(fcf, wacc)
predict

      Free cash flow  fcf present
year
2018          825.19       776.80
2019         1067.63       946.08
2020         1381.29      1152.24
2021         1787.12      1403.35
2022         2312.17      1709.16

### Cal Terminal Value

In [8]:
terminal, terminalPresent = dcf.terminalValue(wacc, predict['Free cash flow'].iloc[-1])
terminal, terminalPresent

(73731.74, 54502.77)

### Organize All The Calculation Data

In [9]:
factorReport, fcfReport = dcf.calculationReport(beta, taxRate, mvEquity, mvDebt, fcf, predictYear=10)

In [10]:
factorReport

,beta,costOfDebt,costOfEquity,fcfGrowth,perpetuityGrowth,riskFree,riskPremium,wacc
0,0.75,2.55,6.23,29.38,3,3.6,3.5,6.23

In [11]:
fcfReport

      Free cash flow  fcf present  terminal value  terminal value present
year
2018          825.19       776.80            0.00                    0.00
2019         1067.63       946.08            0.00                    0.00
2020         1381.29      1152.24            0.00                    0.00
2021         1787.12      1403.35            0.00                    0.00
2022         2312.17      1709.16            0.00                    0.00
2023         2991.49      2081.63            0.00                    0.00
2024         3870.39      2535.27            0.00                    0.00
2025         5007.51      3087.77            0.00                    0.00
2026         6478.71      3760.66            0.00                    0.00
2027         8382.16      4580.20       267294.89               146055.81